---
layout: page
title: Contact
---

    <section id="contactform" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Contact</h2>            
            <div class="block">
                <p>A question, a suggestion, or just want to say hi? Send us an email!</p>
                <form action="https://formspree.io/f/xdopjaaa" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your name" name="name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your email" name="_replyto">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject" name="_subject">
                    </div>
                    <input type="text" name="_gotcha" style="display:none" />
                    <input type="hidden" name="_format" value="plain" />
                    <input type="hidden" name="_next" value="/thanks/" />
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Your message" name="message"></textarea>
                    </div>
                    <button class="btn btn-default" type="submit">Send</button>
                </form>
            </div><!--//block-->
            
            <div class="block">
                
            </div><!--//block-->
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->

