---
layout: page
title: Contribute to Crowl
---
    <section id="contactform" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Contribute</h2>   
            <div class="block">
                <p>Crowl is an open-source project, and aims to be community-based. Whichever your language or your experience, there are several ways to contribute:
                    <ul>
                        <li><a href="#bugs">Report a bug</a></li>
                        <li><a href="#featuresideas">Suggest a new feature</a></li>
                        <li><a href="#documentation">Write documentation for other users</a></li>
                        <li><a href="#documentation">Translate Crowl to your language</a></li>
                        <li><a href="#developpers">Join Crowl developpers</a></li>
                        <li><a href="#support">Become a supporter</a></li>
                    </ul>
                You can also spread the word and tell your friends to use Crowl! The more the merrier ;-)
                </p>  
            </div>       
            <div class="block">
                <h3 class="text-center" id="bugs">Bug report</h3>
                <p>If you found a bug or encountered a problem, please report it: we might be able to help you quickly, or add a fix to our roadmap. Moreover, this will also help other users who might have the same problem.</p>
                <p>Here are a few guidelines for bug reporting:
                    <ol>
                        <li>Make sure you use the latest version of Crowl.</li>
                        <li>Go to <a href="https://gitlab.com/groups/crowltech/-/issues">our issue-tracker</a> and select the appropriate project.</li>
                        <li>Check if someone else encountered this problem. If the problem was already solved, check if the answer works for you.</li>
                        <li>If no one reported the problem, create a new issue with the <code>bug</code> label. Remember to be as descriptive as possible.</li>
                    </ol>
                </p>
            </div>
            <div class="block">
                <h3 class="text-center" id="featuresideas">Features ideas</h3>
                <p>This project is still in a very early stage, and a lot can be done to improve it. However, your ideas are welcome.</p>
                <p>You can submit your ideas <a href="https://gitlab.com/groups/crowltech/-/issues">on Gitlab</a> by creating an issue:
                    <ol>
                        <li>Check the list of proposed features: we're like Google, we don't like duplicate content ;-)</li>
                        <li>Create a new issue with the <code>feature</code> label.</li>
                        <li>Be as precise as possible to explain your idea. It's likely other users will discuss its relevance and feasibility.</li>
                    </ol>
                </p>
            </div>
            <div class="block">
                <h3 class="text-center" id="documentation">Documentation & translation</h3>
                <p>The best way to contribute to documenting and translating Crowl is to contact us: we'll discuss how you can help.</p>
            </div>
            <div class="block">
                <h3 class="text-center" id="developpers">Developpers</h3>
                <p>If you're a developer and want to help, you're very welcome!</p>
                <p>First of all, you need to create a copy of the project:<br/>
                    <ol>
                        <li>Go to <a href="https://gitlab.com/crowltech/crowl">https://gitlab.com/crowltech/crowl</a> and fork the project to get your own copy.</li>
                        <li>Clone the project to your local computer:<br/>
                            <pre><code class="lang-bash">git clone git@gitlab.com:your-username/crowl.git</code></pre></li>
                        <li>Add the upstream repository:<br/>
                            <pre><code class="lang-bash">git remote add upstream git@gitlab.com:crowltech/crowl.git</code></pre></li>
                        <li>You now have two remote repositories:
                            <ul>
                                <li><code>upstream</code>, which refers to the main crowl repository</li>
                                <li><code>origin</code>, which refers to your personal fork</li>
                            </ul>
                        </li>
                    </ol>
                </p>
                <br/>
                <p>You can now develop your own contribution:<br/>
                    <ol>
                        <li>Pull the latest changes from the main repository:<br/>
                            <pre><code class="lang-bash">git checkout master<br/>git pull upstream master</code></pre></li>
                        <li>Create a branch for the issue you want to work on. Please use an understandable name to help reviewers know which feature you are working on. For example if you want to submit a bugfix for issue 123, name your branch <code>bugfix-for-issue-123</code>.<br/>
                            <pre><code class="lang-bash">git checkout -b bugfix-for-issue-123</code></pre></li>
                        <li>Commit locally as you progress (<code>git add</code> and <code>git commit</code>)</li>
                    </ol>
                </p>
                <br/>
                <p>Once you finished your work, submit your contribution:
                    <ol>
                        <li>Push your changes back to your fork on Gitlab:<br/>
                            <pre><code class="lang-bash">git push origin bugfix-for-issue-123</code></pre></li>
                        <li>Go to Gitlab and click the <code>Merge request</code> button for your branch.</li>
                    </ol>
                </p>
                <br />
                <p>Other contributors will test your branch to check if everything is OK, then add your feature or bugfix to the main branch.</p>
            </div>
            <div class="block">
                <h3 class="text-center" id="support">Become a supporter</h3>
                <p>Help funding this project with either a punctual or monthly fee.<br/>
                Premium supporters get to vote for next features in the roadmap and access to beta versions.<br/>
                More details on <a href="https://www.buymeacoffee.com/crowltech" target="_blank">Buy Me A Coffee</a>!</p>
            </div>
            </div>
        </div>
    </section>

