---
layout: page
title: Release Notes
---
<section id="contactform" class="docs section">
    <div class="container">
        <div class="docs-inner">
            <h2 class="title text-center">Releases Notes</h2>            
            <div class="block">
                <p>Here are the detailed release notes for each versions of Crowl.</p>
            </div>
            <div class="block">
            {% assign releases = site.releases | sort: 'date' | reverse %}
            {% for item in releases %}
                <h4>{{ item.tag }} ({{item.date | date: "%Y-%m-%d" }})</h4>
                <p>{{ item.content }}</p>
                <hr/>
            {% endfor %}
            </div>
        </div>
    </div>
</section>

