---
layout: page
title: Contact
---

    <section id="contactform" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Thanks!</h2>            
            <div class="block">
                <p>Your message has been sent, we'll get back to you shortly.</p>
            </div><!--//block-->
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->

