    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Crowl?</h2>
            <p class="intro text-center">A crawler made by SEOs for SEOs. And this means a lot.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Free and open-source</h3>
                        <p>Crowl is distributed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL v3</a>. This means you can use, distribute and modify the source code for private or commercial use, as long as you share your code under the same licence. This also means we do not offer any warranty.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed by SEOs</h3>
                        <p>Most of the people developping this crawler are professionnal SEOs, experts in the technical aspects of the job. We've been using crawlers on a daily basis for years, and we know what to expect from such a tool.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-toggle-on"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Generic AND customizable</h3>
                        <p>Crowl is quite a basic crawler yet, but still evolving!<br/> We aim at providing state-of-the-art functionality and customization, for a perfect fit whichever kind of website you're working on.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Community-based</h3>
                        <p>Our goal is to provide a smart and efficient tool for all SEOs. Feel free to join our gang of un-paid volunteers!<br />
                        <a href="/contribute/">How to contribute</a></p>
                    </div><!--//content-->
                </div><!--//item-->       
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Python & Scrapy</h3>
                        <p>Crowl is developped using Python, and <a href="https://scrapy.org/">Scrapy</a>. We chose this language both because we like it and it is widely used. If you can code, please give us a hand!<br/>
                        <a href="/contribute/#developpers">How to contribute</a></p>
                    </div><!--//content-->
                </div><!--//item-->          
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-compass"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Open roadmap</h3>
                        <p>We have a loooong list of features in mind for this project. However, your ideas and opinions are welcome to help us prioritize the next feature to develop.<br/><a href="https://gitlab.com/groups/crowltech/-/issues">View the backlog and contribute</a></p>
                    </div><!--//content-->
                </div><!--//item-->              
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
