    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>            
            <div class="block">
                <h3 class="sub-title text-center">Set things up</h3>
                <p>Crowl works best with Python 3.6+.<br/>
                    We also recommend you use <a href="https://github.com/pyenv/pyenv">pyenv</a>.</p>
                <p>First clone <a href="https://gitlab.com/crowltech/crowl">the git repository</a> or download the source-code.</p>
                <p>You can then install Python dependencies by executing this command in your terminal:</p>
                <div class="code-block">
                    <pre><code class="lang-bash">
    pip install -r requirements.txt
                     </code></pre>
                </div><!--//code-block-->
                <p>And that should be all!</p>
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">Configure your crawl</h3>
                <p>Copy the <code>config.sample.ini</code> file to <code>yourproject.ini</code> and set your own settings.<br />
                    The required settings are <code>PROJECT_NAME</code> and <code>START_URL</code>. You can keep other default settings for now ;)<br />
                    Check out <a href="/docs/">the docs</a> for more configuration options.</p>
            </div><!--//block-->

            <div class="block">
                <h3 class="sub-title text-center">Launch your first crawl</h3>
                <p>To launch your first crawl with default settings, simply run:</p>
                <div class="code-block">
                    <pre><code class="lang-bash">
    python crowl.py --conf yourproject.ini  
                    </code></pre>
                </div><!--//code-block-->
                <p>Enjoy!</p>
            </div><!--//block-->

            <div class="block text-center">
                <div class="btns">
                    <a class="btn btn-cta-secondary" href="/docs/">Read the docs</a>
                </div>
            </div>
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
