    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Works with Windows, Mac OS and Linux</li>
                <li><i class="fa fa-check"></i> Custom user-agent</li>
                <li><i class="fa fa-check"></i> Extract all links and anchor texts</li>
                <li><i class="fa fa-check"></i> Extract page content</li>
                <li><i class="fa fa-check"></i> Unlimited URLs</li>
                <li><i class="fa fa-check"></i> Stop and resume crawls</li>
                <li><i class="fa fa-check"></i> Out of the box CSV export or MySQL storage</li>
                <li><i class="fa fa-check"></i> Entirely customizable to your own needs</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
