    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <div class="info text-center">
                    <h2 class="sub-title">Get Connected</h2>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://gitlab.com/{{ site.gitlab_username }}"><i class="fa fa-git"></i></a></li>
                        <li class="last"><a href="mailto: {{ site.email }}"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <ul class="list-inline">
                        <li><a href="https://www.buymeacoffee.com/crowltech" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a></li>
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->

    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Crowl, the open-source SEO crawler. All rights reserved.</small>
        </div><!--//container-->
    </footer><!--//footer-->
     
    <!-- Javascript -->          
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{ site.baseurl }}public/js/main.js"></script>       

