<div class="image-wrapper{% if include.align %} align-{{include.align}}{% endif%}">
{% if include.url %}
<a href="{{ include.url }}" target="_blank">
{% endif %}
<img src="{{ site.url }}{{ include.img }}" alt="{{ include.alt }}" width="{{ include.width }}" />
{% if include.url %}
</a>
{% endif %}
{% if include.caption %}
<p class="image-caption">{{ include.caption }}</p>
{% endif %}
</div>