    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title"><span class="highlight">Crowl</span></h2>
            <p class="intro">The open-source SEO crawler</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://gitlab.com/crowltech/crowl" target="_blank">Download</a>
                <a class="btn btn-cta-primary" href="#about">Learn more</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="#docs">Get started</a></li>
                <li><a href="https://www.gitlab.com/crowltech" target="_blank">View on GitLab</a></li>    
                <li><a href="https://www.buymeacoffee.com/crowltech" target="_blank">Support with a coffee</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
    </section><!--//promo-->
