<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}
<body data-spy="scroll">
{% include header.html %}
{% include promo.html %}
{% include about.html %}
{% include features.html %}
{% include docs.html %}
{% include footer.html %}
</body>
</html> 

