<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}
<body data-spy="scroll">
{% include header.html %}
    <section id="contactform" class="docs section">
        <div class="container">
            <div class="docs-inner">
                <h2 class="title text-center">Documentation</h2>            
                <div class="block">
                    <p>Crowl is developped with Python3, and uses <a href="https://scrapy.org/">Scrapy</a> for core crawling functionnalities.</p>
                    <p>You'll find here the list of available documentation topics.<br/>
                        If you can't find what you are looking for, please read the <a href="/contribute">contributing guidelines</a> and check the list of open <a href="https://gitlab.com/groups/crowltech/-/issues">issues</a>.</p>
                    <p>Be sure to check <a href="https://gitlab.com/crowltech/crowl/-/tags">tags and release notes</a> to keep track of what's changed.</p>
                </div>
                <div class="block">
                    <p>Here's the list of available topics:</p>
                {% assign doclist = site.documentation | sort: 'order' %}
                {% for item in doclist %}
                    <p><a href="{{ item.url }}">{{ item.title }}</a><br/>
                    {{ item.description }}</p>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}
</body>
</html> 

