<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}
<body data-spy="scroll">
{% include header.html %}
    <section class="documentation section">
        <div class="container">
            <div class="col-md-4 docs-nav">
                {{ content | toc_only }}
                <hr/>
                {% assign doclist = site.documentation | sort: 'order' %}
                {% for item in doclist %}
                    <p><a href="{{ item.url }}">{{ item.title }}</a></p>
                {% endfor %}
            </div>
            <div class="docs-inner col-md-8">            
                {{ content }}
            </div>
        </div>
    </section>
{% include footer.html %}
</body>
</html> 

